@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    /* background-image: url("my_images/background.jpg"); */
    background-color: #9FB698;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

button{
    all: unset;
    font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: green;
    padding: 1em;
    border-radius: 1em;
    color: white;

    
}

#webcam-container { 
    display: none; }

#image-display {
    width: 90vw;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-display img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#prediction {
    position: fixed;       
    bottom: 0;           
    left: 0;     
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    z-index: 1000;
    padding: 10px 0;
}
@media only screen and (max-width: 90em) {
 body{
        justify-content: space-evenly;
 }
#prediction {
    position: fixed;
    bottom: .5em;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    padding: 2em 0;
}
button {
    padding: 3em;
    border-radius: 1em;
    color: white;
    font-size: 1.5em;
}
}